.container
{
    display: flex;
    flex-direction: column;
    
}

.card
{
    display: flex;
    margin-top: 1%;
    object-fit: contain;
    margin-top: 1%;
    margin-bottom: 1%;
}

.headshot
{
    width:12vh;
}

.details
{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options
{
    margin-left: 2%;
    justify-self: flex-end;
}

.edit
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.editIcons
{
    height:20%;
    background-color:inherit;
    outline:none;
    border:0px;
    cursor: pointer;
}

.createIcon
{
    border-radius:50%;
    height:6vh;
    width:6vh;
    position: fixed;
    bottom: 10%;
    cursor:pointer;
    font-weight: 1000em;
    font-size: xx-large;
    display: flex;
    color: white;
    background-color: rebeccapurple;
    justify-content:center ;
    align-items: center;
    margin-left: 90%;
}

.modalStyles
{
    display:flex;
    width: fit-content;
    justify-content: center;
    background-color : #f3f3f3;
    justify-self: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    outline:0px;
    border-radius:5px;  
}